@import "tailwindcss";

:root {
  --color-text-primary: #673C11;
  --color-text-meta: #9b7a5f; 
  --color-bg: #ffffff;       
  --color-footer-bg: #f3f4f6;
}

html {
  font-size: 15px;
}

body {
  min-width: 320px;
  color: var(--color-text-primary);
  background: var(--color-bg);

  font-family:
    var(--font-quicksand),
    var(--font-noto-jp),
    system-ui,
    sans-serif;
}